@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rokkitt:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
.home-grid {
    
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    
    
}
nav {
    display: flex;
    justify-content: space-around;
   background-color: #1affd5;
    
}
#logo_link {
    padding-top: 5px
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color:#5b475c;
    font-family:Rokkitt, Helvetica, sans-serif; ;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
    
}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    position: relative;
    text-align: center;
    
}
#hero-msg  {
   
    
    text-align: center;
    font-family: Bangers, Helvetica, sans-serif;
    grid-column: 2/3;
    grid-row: 1/2;
    position: absolute;
    top: 20%;
    left: 40%;
    
    

}
#hero-msg h4 {
    text-align: center;
    font-family: Rokkitt, Helvetica, sans-serif;;
 color:#ffffff


}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:rgb(163, 216, 216);
    grid-column: 1/11;
    grid-row: 4/9;
   
}
body {
background-color:azure; 
font-family: Rokkitt, Helvetica, sans-serif;
font-size: 22px;
margin: 0;
padding: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}

}
nav a:hover {
    background-color: black;
    color:#1affd5;
    font-family: Rokkitt, Helvetica, sans-serif;;
text-decoration: none;
}
.book {
  background-color:#5b475c;
  color:#1affd5;
  font-family:Rokkitt, Helvetica, sans-serif; ;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.join {
    background-color:#5b475c;
    color:#1affd5;
    font-family: Rokkitt, Helvetica, sans-serif;;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
}
 .book:hover {
    background-color: black;
    color:#1affd5;
    font-family: Rokkitt, Helvetica, sans-serif;;
    font-size: 18px;
 }
.join:hover{
    background-color: black;
     color:#1affd5;
     font-family: Rokkitt, Helvetica, sans-serif;;
font-size: 18px;
    }

.msg {
    background-color: #558b76;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color:#5b475c;
    color:#1affd5;
    font-family: Rokkitt, Helvetica, sans-serif;;
padding: 25px 50px;
margin-top: 200px;
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
left:0;
bottom: 0;
width: 80%;
text-align: center;

}
.home-title {
    color:#5b475c;
    font-family: Bangers, Helvetica, sans-serif;;
font-size: 2em;
margin-top: 10px;
}
.msg h2 {
color: #1affd5;
font-family: Bangers, Helvetica, sans-serif;;
}
.msg p { color:#1affd5;
    font-family: Rokkitt, Helvetica, sans-serif;;
font-size: .8em;
padding-bottom: 15px;
}
footer a { color:#1affd5;
    font-family: Rokkitt, Helvetica, sans-serif;;
text-decoration: none;}
footer a:hover { color:#1affd5;
font-family: Rokkitt, Helvetica, sans-serif;;}
.icon {
    width: 80px;
    padding-top: 10px;
}
 #hero-img {
    width: 100%;
}
.logo {
    width:80px;
}
footer p {
    font-size: 1.2em;   
}
h2 {
    margin: 0;
}

footer .social img {
    padding-top: 15px;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    
}
.camping-card {
margin: 200px 0;
grid-column: 5/7;
grid-row: 2/3;

}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
    
}

}
main section img {
    box-sizing: border-box;
}
.card-img {
    border: 10px solid #1affd5;
    width: 100%;
    transition: .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    
    box-shadow: 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6s;
    transform: scale(1,1);
}
/* This is the media query */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
    
    